{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load cart_filters %}
<div class="p-3">
  <div class="container">
    <div class="row mt-3">
      <div class="col mx-auto mb-3">
        <h2>Shopping Cart {{ template_data.cart_number }}</h2>
        <form method="get" action="">
          <label for="cart_number">Select Cart:</label>
          <select name="cart_number" id="cart_number" onchange="this.form.submit()">
            <option value="1" {% if template_data.cart_number == 1 %}selected{% endif %}>Cart 1</option>
            <option value="2" {% if template_data.cart_number == 2 %}selected{% endif %}>Cart 2</option>
            <option value="3" {% if template_data.cart_number == 3 %}selected{% endif %}>Cart 3</option>
          </select>
        </form>
        <hr />
      </div>
    </div>
    <div class="row m-1">
      <table class="table table-bordered table-striped
        text-center">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">Quantity</th>
          </tr>
        </thead>
        <tbody>
          {% for movie in template_data.movies_in_cart %}
          <tr>
            <td>{{ movie.id }}</td>
            <td>{{ movie.name }}</td>
            <td>${{ movie.price }}</td>
            <td>{{ template_data.cart|get_quantity:movie.id }}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    <div class="row">
      <div class="text-end">
        <a class="btn btn-outline-secondary mb-2"><b>Total
          to pay:</b> ${{ template_data.cart_total }}</a>
        {% if template_data.movies_in_cart|length > 0 %}
        <form method="post" action="{% url 'cart.purchase' %}" style="display:inline;">
          {% csrf_token %}
          <input type="hidden" name="cart_number" value="{{ template_data.cart_number }}" />
          <button type="submit" class="btn bg-dark text-white mb-2">Purchase</button>
        </form>
        <form method="post" action="{% url 'cart.clear' %}" style="display:inline;">
          {% csrf_token %}
          <input type="hidden" name="cart_number" value="{{ template_data.cart_number }}" />
          <button type="submit" class="btn btn-danger mb-2">Remove all movies from Cart</button>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>
{% endblock content %}